@font-face {
    font-family: "quicksand semibold";
    src: url("../type/Quicksand-SemiBold.ttf");
}

@font-face {
    font-family: "assitant";
    src: url("../type/Assistant-Medium.ttf");
}

h1,
h2,
h3 {
    font-family: "quicksand-semibold", Arial, Helvetica, sans-serif;
}

p {
    font-family: "assistant", Arial, Helvetica, sans-serif;
}


header {
    /* background-color: rgb(228, 228, 225); */
    width: 100%;
    position: fixed;
    position: absolute;
    padding-top: 24px;
    padding-bottom: 50px;
}

header h1 {
    font-size: 32px;
}


header section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 64px;
}

.heroBanner {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

img {
    width: 100%;
}

.heroBanner h2 {
    padding: 60px 120px;
    font-size: 60px;
    /* border: solid 1px; */
}

.heroBanner p {
    font-size: 16px;
    width: 50%;
    text-align: center;
}

.projectGlobal {
    position: relative;
}

.project1 h3 {
    /* width: 100%; */
    font-size: 32px;
    bottom: 46px;
}

.project2 h3 {
    width: 100%;
    font-size: 32px;
    bottom: 46px;
}

.project3 h3 {
    width: 100px;
    font-size: 32px;
    bottom: 46px;
}

.project1,
.project2,
.project3 p {
    width: 810px;
    /* font-size: 16px; */
    /* right: 0; */
}

.project1 {
    width: 442px;
    position: absolute;
    left: 140px;
    top: 160px;
    display: flex;
    gap: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project1 h3 {
    width: 300px;
    margin: auto;
}

.project1 p {
    top: 60px;
    width: auto;
    text-align: center;
    margin: auto;
    /* size: 18px; */
}

.imgProject1,
imgProject2 {
    position: relative;
}

.cuadrado1 {
    width: 146px;
    height: 275px;
    position: absolute;
    right: 320px;
    top: 200px;
}

.project2 {
    width: 442px;
    position: absolute;
    right: 140px;
    top: 480px;
    display: flex;
    gap: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project2 h3 {
    text-align: center;
}

.project2 p {
    top: 60px;
    width: auto;
    text-align: center;
    margin: auto;
}

.cuadrado2 {
    width: 146px;
    height: 275px;
    position: absolute;
    top: 260px;
    left: 330px;
}

.project3 {
    width: 1050px;
    position: absolute;
    right: 140px;
    top: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    gap: 24px;
}

.project3 h3 {
    text-align: center;
    width: 350px;
    height: 400px;
}

.project3 p {
    text-align: center;
    justify-content: center;
    width: 350px;
    height: 150px;
}

.project3 a {
    position: absolute;
    left: 180px;
    top: 290px;
}

footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 1850px;
}

footer h3 {
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 160px;
}

footer p {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 60px;
    width: 600px;
}



footer img {
    width: 234px;
    height: 312px;

    margin-right: 60px;
}

.boxfooter {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    justify-content: space-evenly;
}

.button {
    width: 132px;
    height: 39px;
    background-color: rgba(238, 238, 238, 0.63);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (max-width: 443px) {
header {
    /* background-color: rgb(228, 228, 225); */
    width: 100%;
    position: fixed;
    position: absolute;
    padding-top: 24px;
    padding-bottom: 50px;
}
}
@media (max-width: 443px) {
    .heroBanner {
        width: 100%;
        max-width: 340px;
        height: 128vh;
        background-image: url("../img/red.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
}

@media (max-width: 443px) {

    .project1,
    .project2,
    .project3,
    .footer,
    h1 {
        size: 20px;
    }

    h3 {
        size: 20px;
    }

    p {
        size: 14px;
    }

}
@media (max-width: 443px) {
    .project1 {
        width: 100%;
        max-width: 70%;
        position: relative;
        display: flex;
        gap: 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 443px) {
    .project2 {
        width: 100%;
        max-width: 70%;
        position: relative;
        
        display: flex;
        gap: 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 443px) {
    .project3 {
        width: 100%;
        max-width: 70%;
        position: relative;
        top: 700px;
        gap: 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project3 p {
        text-align: center;
        justify-content: center;
        width: 100%;
        max-width: 70%;
        height: 150px;
    }

    .project3 h3 {
        text-align: center;
        width: 350px;
        height: 0px;
    }

}

@media (max-width: 443px) {
    footer {
        flex-direction: row;
        position: relative;
    }
}

@media (max-width: 443px) {
    footer a {
        flex-direction: row;
        position: relative;
        bottom: 40px;
    }

    .boxfooter {
        flex-direction: column;
        width: 100%;
        max-width: 70%;
    }

    .boxfooter h3 {
        size: 18px;
    }

    .boxfooter p {
        width: 100%;
        max-width: 70%;
        size: 14px;
    }
}